<%- include('header') -%>

<tbody>
    <tr>
        <td>
            <!-- ajout code point &#x..codepoint.. -->
            <h3 style="text-align: center;">
                <ins>Admin</ins>
            </h3>
            <div>Articles
            </div>
        </td>
    </tr>
</tbody>

<%- include('footer') -%>
