<footer>
    <table bgcolor= "yellow" width = "100%">
        <tr>
            <td>
                <p style="text-align: center;"> le blog qui donne envie d'avoir des baskets</p>
            </td>
        </tr>
    </table>
</footer>
</body></html>
