<tfoot>
    <tr style="background-color: aqua;">
        <td>
            <p style="text-align: center;">
                Le blog qui donne envie d'avoir des baskets</p>
        </td>
    </tr>
</tfoot></table></body></html>
