<!DOCTYPE html>
<html>
    <head>
        <title>Basket Blog</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                </ul>
            </nav>