<!DOCTYPE html>
<html>
    <head>
        <title>Basket Blog</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></head>
        <body>
            <div style="background-color: aqua; background-image: url(/public/images/background.jpg);">
                <h1 style="text-align: center;">
                    Basket Blog
                </h1>
                <nav>
                    <div style="text-align: right;">
                        <i class="material-icons">&#xe88a</i>
                        <a href="/">Home</a>
                        <i style="margin-left: 10px;" class="material-icons">&#xf02e</i>
                        <a>Adminstration</a>
                    </div>
                </nav>
            </div>