<!DOCTYPE html>
<html>
    <head>
        <title>Basket Blog</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></head>
    <body>
        <table width="100%">
            <thead style="text-align: center;
             background-image: url('/images/background.jpg');
             color: aqua;">
                <tr>
                    <td>
                        <h1>
                            <b>
                                Basket Blog
                            </b>
                        </h1>
                        <nav>
                            <div style="text-align: right;">
                                <i class="material-icons">&#xe88a</i>
                                <a href="/">Home</a>
                                <i style="margin-left: 10px;" class="material-icons">&#xf02e</i>
                                <a href="/admin">Adminstration</a>
                            </div>
                        </nav>
                    </td>
                </tr>
            </thead>
