<%- include('header') -%>

<div>
    <!-- ajout code point &#x..codepoint.. -->
    <p>
        <i class="material-icons">&#xe815</i>
        Bienvenue sur votre blog de basket
    </p>
</div>

<%- include('footer') -%>
